@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding:0;
  box-sizing:border-box;
  scroll-behaviour:smooth;
}
@layer utilities {
    .padding {
      @apply lg:px-16 lg:py-8  max-lg:px-14 max-lg:py-6  max-sm:px-3;
    }
    .padding-x {
      @apply lg:px-16   max-lg:px-14   max-sm:px-3;
    }
    
}
.set-space{
    letter-spacing:1px;
}
.set-gradientBorder {
    position: relative; /* Required for the pseudo-element positioning */
    background: transparent; /* Set background to transparent */
    font-size: 17px; /* Set the font size */
    white-space: nowrap; /* Prevent text from wrapping */
    border-radius: 1.5rem; /* Apply rounded corners */
    padding: 0.5rem 1.25rem; /* Apply padding (py-2 px-5) */
    display: flex; /* Use flexbox for layout */
    gap: 0.5rem; /* Apply gap between flex items */
    font-family: 'Inter', sans-serif; /* Set the font to Inter */
    z-index: 1; /* Ensure content is above the pseudo-element */
}

.set-gradientBorder::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position relative to the main element */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.5rem; /* Apply rounded corners */
    padding: 2px; /* Match the border width */
    background: linear-gradient(90deg, rgba(138,101,229,1) 0%, rgba(175,114,209,1) 35%, rgba(222,131,138,1) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1; /* Place the pseudo-element behind the main element */
}



@media(max-width:400px){
.set-width{
width:280px;
}
}
 